*{
    margin: 0;

}

.header{
    margin: 25px auto/*330px*/;
    height: 27px;
    /*width: 620px;*/
    text-align:  center;
}
.header-link  {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: #FF0000;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;

}

.home{
    margin-right: 72px;

}
.photoapp{
    margin-right: 72px;

}
.design{
    margin-right: 50px;
}



.images{
margin: 0;
}

.container{
    width: 1145px;
    margin: 0 auto;
    text-align:  center;
}


.hero-title{
    font-family: 'Montserrat', sans-serif;
    height: 29px;
    font-weight: bold;
    font-size: 22px;
    text-transform: uppercase;
    margin: 48px 253px 38px;

}
.hero-simple{
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: #373737;
    margin-bottom: 28px;
}
.hero-simplephoto{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: #373737;
    margin-bottom: 66px;
}
.buttom{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    border-radius: 4px;
    color: #FFFFFF;
    background: #FF0000;
    padding: 18px 43.5px 17px;
    margin-bottom: 150px;
}
.footer-content{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 16px;
    height: 39px;
    color: #373737;
    width: 462px;
    margin-bottom: 29px;
    margin-left: 713px;
    margin-right: 105px;
    text-align: center;

}