
 .container{
     font-family: sans-serif;
     width: 1280px;
     margin: 0 auto;
 }
.about-logo{
    width: 334px;
    height: 79px;
    margin-top: 63px;
    margin-bottom: 38px;
}

.about-menu{
    height: 72px;
    background: #35444F;
    display: flex;
    justify-content: center;
}
.about-menu-item{
    padding-top: 26px;
    transition: 0.5s;
}
 .about-menu-item:hover{
     background: #222F3A;
 }
.about-menu-link{
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    padding: 26px 32px 19px;
}

.ramda-main{
    display: flex;
    margin-top: 67px;
    align-items: flex-start
}
.ramda-aside{
    border: 1px solid #000000;
    margin-right: 62px;

}
.aside{

    width: 344px;
    height: 399px;
}


.ramda-item{
    padding-top: 26px;
    padding-left: 44px;
    padding-bottom: 26px;
    align-items: center;
    transition: 0.5s;
}
.ramda-item:hover{
    background: #DBDBDB;
    padding-left: 60px;
}
.ramda-menu-link{
    display: inline-block;
    font-weight: normal;
    font-size: 27px;
    color: #485863;
}

.ramda-section{
    width: 885px;
}

.ramda-container{
    border: 1px solid #000000;
    height: 529px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 37px;
}
.ramda-container-image{
    width: 320px;
    height: 381px;
    transition: 0.5s;
}
.ramda-container-image:hover {
    transform: scale(1.1);
}
.content{
    margin-bottom: 34px;
}
.container-text{
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
}

.footer{
    background: rgba(99, 105, 110, 0.48);
    margin-bottom: 30px;
    margin-top: 54px;
    height: 69px;
}
.footer-menu{
    display: flex;
    justify-content: space-between;
}
.ramda-text{
    padding-left: 40px;
}
.footer-menu-item{
    padding-top: 20px;
    font-size: 28px;
    line-height: 28px;
    color: #0C1927;
    padding-bottom: 13px;
    transition: 0.5s;
}

.footer-menu-item:hover{
    color: #3181A6;
    border-bottom: 1px solid #3181A6;
}

.footer-menu-item-copyright {
    padding-top: 20px;
    padding-bottom: 21px;
    font-size: 24px;
    line-height: 24px;
    padding-left: 135px;
    padding-right: 40px;
}






