* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Ubuntu', sans-serif;
    background-image: url("../images/images 1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 1366px;
    height: 770px;
}
.header{
    background: rgba(0, 0, 0, 0.4);
    height: 58px;
    display: flex;
    justify-content:space-between ;
}
.header-title{
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 79px;
    font-size: 22px;
    line-height: 22px;
    color: #FFFFFF;
    font-weight: 700;
}
.header-logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    margin-right: 27px;
}
.logo-calendar:hover{
    fill: #01813F;
    transition: 0.5s;
}
.logo-massenger:hover{
    fill: #01813F;
    transition: 0.5s;
}
.time{
    margin-right: 53px;
    margin-left: 24px;
}
.logo-time:hover{
    fill: #01813F;
    transition: 0.5s;
}
.header-welcome{
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    padding-right: 79px;
}
.log-in , .sing-up{
    color: #FFFFFF;
}
.header-welcome::before{
   content: "";
    width: 1px;
    height: 19px;
    background: rgba(255, 255, 255, 0.9);
    opacity: 0.5;
    position: absolute;
    left: 1083px;
}
.container{
    width: 444px;
    height: 584px;
    background: #FFFFFF;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
    margin: 54px 461px 74px;
    position: relative;
}
.wrapper{
    padding: 31px 60px 38px;
}
.registr-header{
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
}
.registr-title{
    font-size: 20px;
    line-height: 20px;
    color: #434343;
    font-style: normal;
}
.container::before{
    content: "";
    width: 18px;
    height: 18px;
    background: #3CB878;
    position: absolute;
    top: 29px;
}
.registr-log{
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
}
.registr-society{
    display: flex;
    align-items: center;
    column-gap: 4px;
    margin-bottom: 31px;
}
.registr-society-link{
    width: 160px;
    height: 48px;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content:flex-end ;
}
.facebook::before {
    content: url(../images/f.png);
    margin-right: 38px;
}
.facebook::after{
    content: '';
    width: 1px;
    height: 28px;
    background: #0A162F;
    opacity: 0.1;
    position: absolute;
    margin-right: 90px;
}
.facebook{
    background: #305DB8;
    padding: 22px;
}
.google{
    background: #DF4A32;
    padding-right:27px;
}
.google::before {
    content: url(../images/G+.png);
    margin-right: 38px;
}
.google::after{
    content: '';
    width: 1px;
    height: 28px;
    background: #0A162F;
    opacity: 0.1;
    position: absolute;
    margin-right: 80px;
}
.registr-divider{
    font-size: 14px;
    line-height: 14px;
    color: #848484;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 12px;
}
.registr-divider::after,
.registr-divider::before {
    content: '';
    width: 152px;
    height: 1px;
    background: #F2F2F2;
    margin-inline: 5px;
}
.registr-form {
    display: flex;
    flex-direction: column;
}
.registr-field{
    width: 100%;
    height: 45px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    font-size: 14px;
    line-height: 14px;
    color: #BEBEBE;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 15px;
    outline: none;
}
.registr-field:focus{
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    color: #434343;
}
.registr-field:last-child {
    margin-bottom: 12px;
}
.checkbox-wrapper {
    position: relative;
    margin-bottom: 20px;
}
.input{
    display: none;
}
.label{
    margin-left: 28px;
    font-size: 14px;
    line-height: 14px;
    user-select: none;
    cursor: pointer;
}
.checkbox-wrapper label::before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #F2F2F2;
    position: absolute;
    top: 0;
    left: 0;
}
.input:checked + .label::after {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 2px;
    left: 2px;
    background-image: url("../images/Vector 1.svg");
    background-repeat: no-repeat;
    background-size: 16px;
}
.colortext{
    color: #3CB878;;
}
.registr-submit{
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    height: 46px;
    border: none;
}

    .header-title:hover {
    color: #01813F;
    transition: 0.5s;
}
.log-in:hover,
.sing-up:hover {
    color: #01813F;
    transition: 0.5s;
}
.facebook:hover {
    background: #022263;
    transition: 0.5s;
}
.google:hover{
    background: #AB1F09;
    transition: 0.5s;
}
.registr-submit:hover{
    background-color: #01813F;
    transition: 0.5s;
}

