*{
    margin: 0;
    padding: 0;
}
body{
    font-family:sans-serif;
}

.container {
    width: 1170px;
    margin: 0 auto;
}
.header-nav{
    background: #313131;
    color: #FFFFFF;
    height: 70px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.header-logo{
    padding: 22px 27px 21px;
    background: rgba(0, 0, 0, 0.0001);
    width: 27px;
    height: 27px;
    display: flex;
    align-items: center;
}
.header-title{
    padding-left: 27px;
    font-weight: bold;
    font-size: 22px;
}
.header-menu{
    display: flex;
    align-items: center;
}
.header-menu-link:hover{
    color: #14B9D5;
}
.header-menu-item{
    margin-left: 35px;
}
.header-menu-link{
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.header-search{
    padding: 26px;
    background: #000000;
    width: 17px;
    height: 17px;
}
.header-background{
    background-image: url(../images/header-bg.jpeg) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 369px;
}
.header-background-title{
    padding-top:164px;
    padding-bottom:44px ;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    color: #FFFFFF;
    text-align: center;
}
.header-background-item{
    display: flex;
    justify-content: center;
}
.SubscribeNow {
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    font-weight: 600;
    padding: 16px 19px 17px;
    background: #89CA62;
    margin-right: 20px;
}
.BestArticles {
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    font-weight: 600;
    padding: 16px 29px 17px 30px;
    background: #14B9D5;;
}

.most-popular{
    background: #F2F2F2;
    height: 1030px;
}
.most-popular-posts{
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    color: #18B4CF;
    padding-top: 49px;
    padding-bottom: 52px;
    display: flex;
    justify-content: center;
}
.popular-item{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 1030px;
    width: 1170px;
    align-items: center;
}
.most-popular-item{
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
    background: #FFFFFF;
}

.vanglo-house-title{
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
    display: flex;
    margin: 20px 16px 22px 14px;
}
.royal-blossom-title{
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
    display: flex;
    margin: 19px 19px 23px 21px;
}
.sunrise-expanse-title{
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
    display: flex;
    margin: 20px 39px 22px;
}

.sunset-shack-title{
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
    display: flex;
    margin: 21px 47px 22px 46px;
}
.stragaze-resort-title{
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
    display: flex;
    margin: 20px 40px 26px 41px;
}
.glorious-expanse-title{
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
    display: flex;
    margin: 21px 23px;
}
.background-clients{
    background-image: url(../images/parallax-bg.jpeg) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 588px;
}
.background-title{
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 106px;
    padding-bottom: 87px;
    text-align: center;
}
.background-line{
    width: 60px;
    height: 3px;
    background: #18B4CF;
    border: none;
    margin: 0 auto;
    margin-bottom: 106px;
}
.background-clients-name{
    display: grid;
    grid-column-gap: 58px;
    grid-template-columns: 207px 135px 232px 141px ;
    align-items: center;
    justify-content: center;
}

.toprated-title{
    padding-top: 49px;
    padding-bottom: 52px;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    color: #18B4CF;
    display: grid;
    justify-content: center;
}

.toprated-portfolio{
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(271px, 1fr) ) ;
}
.topratec-portfolio-img {
    width: 100%;
}

.news-title{
    padding-top: 48px;
    padding-bottom: 51px;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    color: #18B4CF;
    display: grid;
    justify-content: center;
}
.hotel-emirate
{
    display: flex;
    margin-bottom: 42px;
    margin-right: 35px;
}
.hotel-emirate-header,
.hotel-resortspain-header
{
    justify-content: center;
    text-align: right;
    background: #F9F7F7;
}
.hotel-emirate-title,
.hotel-resortspain-title
{
    padding: 41px 24px 15px 31px;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
}
.hotel-emirate-text,
.hotel-resortspain-text
{
    padding-right: 24px;
    padding-bottom: 41px;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #5B6469;
}
.hotel-spain-title{
    padding: 14px 27px 11px;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
}
.hotel-spain,
.hotel-egypt,
.hotel-maldives,
.hotel-tenerife,
.hotel-britain,
.hotel-ireland
{
    background: #F9F7F7;
}
.hotel-egypt-title,
.hotel-maldives-title,
.hotel-tenerife-title,
.hotel-britain-title
{
    padding-top: 14px;
    padding-right: 27px;
    padding-bottom: 15px;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
    text-align: right;
}
.hotel-egypt-text,
.hotel-maldives-text,
.hotel-tenerife-text,
.hotel-britain-text
{
    padding-right: 14px;
    text-align: right;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #5B6469;
}
.hotel-ireland-title{
    padding: 5px 26px 20px;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
}
.hotel-resortspain
{
    display: flex;
    margin-bottom: 71px;
}
.news-hotel {
    display: grid;
    grid-template-areas:
    'emirate emirate emirate spain'
    'egypt egypt maldives maldives'
    'tenerife tenerife britain britain'
    'ireland resortspain resortspain resortspain';
}
.hotel-emirate{
    grid-area:emirate ;
}
.hotel-spain{
    margin-bottom: 42px;
    grid-area:spain ;
}
.hotel-egypt{
    margin-right: 60px;
    margin-bottom: 45px;
    grid-area:egypt ;
 }
.hotel-maldives{
    margin-bottom: 45px;
    grid-area:maldives ;
  }
.hotel-tenerife{
    margin-right: 60px;
    margin-bottom: 45px;
    grid-area:tenerife ;
   }
.hotel-britain{
    margin-bottom: 45px;
    grid-area:britain ;
    }
.hotel-ireland{
    margin-right: 35px;
    margin-bottom: 71px;
    grid-area:ireland ;
     }
.hotel-resortspain{
    grid-area:resortspain ;
}

.footer{
    height: 80px;
    background: #000000;
}
.footer-container{
    width: 1170px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
}

.footer-text{
    padding-top: 29px;
    padding-bottom: 30px;
    width: 512px;
    height: 21px;
    font-weight: normal;
    font-size: 13px;
    line-height: 13px;
    color: #FFFFFF;
}
.footer-logo {
padding-left: 559px;
    display: flex;

}
.footer-logo-one{
    width: 38px;
    height: 24px;
}
.footer-logo-two{
    width: 64px;
    height: 16px;
}


.parallax-popular{
    background: url("https://img3.goodfon.ru/wallpaper/nbig/1/b1/art-kartinka-skachyat.jpg");
    background-attachment: fixed;
}
.parallax-toprated{
    background: url("https://img3.goodfon.ru/wallpaper/nbig/2/9b/hdr-dom-noch-nebo-oblaka-ogni.jpg");
    background-attachment: fixed;
}
.parallax-news{
    background: url("https://img5.goodfon.ru/wallpaper/nbig/9/3c/pustynia-peski-pesok-diuny-solntse-relef.jpg");
    background-attachment: fixed;
    background-size: cover;
}


